.row {
    @include row-flex;

    &--slide {
        flex-wrap: nowrap;
        max-height: calc(100% - 20px);
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;

        & > [class^='col'] {
            flex-shrink: 0;

            margin-bottom: -30px;
            padding-bottom: 30px;
            // padding-bottom: 20px;
            white-space: nowrap;

            & > div {
                margin-bottom: 0;
            }
        }
    } //.row--slide

    &--clear {
        margin-right: 0;
        margin-left: 0;

        @include xs-block() {
            margin-right: -10px;
            margin-left: -10px;
        }
    } //.row--clear

    &--small-offset {
        $o: 10px;

        & > [class^='col'] {
            margin-bottom: $gutter;
        }

        @include respond-to(xs) {
            @include u-row-flex($o);

            & > [class^='col'] {
                margin-bottom: $o;
                @include u-col($o);
            }
        }

        @for $i from 1 through $columns {
            @include respond-min(xs) {
                & > .col-#{$i} {
                    @include u-size($i, 12, $gutter);
                }
            }

            @each $screen in lg, md, sm {
                @include respond-to(#{$screen}) {
                    & > .col-#{$screen}-#{$i} {
                        @include u-size($i, 12, $gutter);
                    }
                }
            }

            @each $screen in xs, i8, i7, i5 {
                @include respond-to(#{$screen}) {
                    & > .col-#{$screen}-#{$i} {
                        @include u-size($i, 12, $o);
                    }
                }
            }
        }
    } //.row--small-offset

    &--center {
        justify-content: center;
        align-items: stretch;
    } //.row--center

    &.xs-offset {
        @include xs-block() {
            [class^='col'] {
                & + [class^='col'] {
                    margin-top: $gutter;
                }
            }
        }
    }
} //.row

@for $i from 1 through $columns {
    .col-#{$i} {
        @include col;
        @include size($i);
    }

    @include respond-to(lg) {
        .col-lg-#{$i} {
            @include col;
            @include size-lg($i);
        }
    }

    @include respond-to(md) {
        .col-md-#{$i} {
            @include col;
            @include size-md($i);
        }
    }

    @include respond-to(sm) {
        .col-sm-#{$i} {
            @include col;
            @include size-sm($i);
        }
    }

    @include respond-to(xs) {
        .col-xs-#{$i} {
            @include col;
            @include size-xs($i);
        }
    }
}

[class^='col'] {
    &.no-offset {
        margin-bottom: 0 !important;
    }

    .bb-input {
        width: 100%;
    } //[class^='col'] .bb-input

    .top-line__search {
        max-width: 100%;
    } //[class^='col'] .top-line__search
} //[class^='col']

@each $screen in lg, md, sm, xs {
    .#{$screen}-only {
        display: none !important;
        pointer-events: none;

        &--flex {
            display: none !important;
            pointer-events: none;
        }
    }

    @include respond-to(#{$screen}) {
        .#{$screen}-only {
            display: block !important;
            pointer-events: auto;

            &--flex {
                display: flex !important;
                pointer-events: auto;
            }
        }

        .#{$screen}-hide {
            display: none !important;
            pointer-events: none;
        }

        .#{$screen}-hidden {
            display: none;
        }
    }
}

@for $i from 0 through 50 {
    .mb-#{$i} {
        margin-bottom: $i + px;
    }

    .mt-#{$i} {
        margin-top: $i + px;
    }

    .ml-#{$i} {
        margin-left: $i + px;
    }

    .mr-#{$i} {
        margin-right: $i + px;
    }

    .pb-#{$i} {
        padding-bottom: $i + px;
    }

    .pt-#{$i} {
        padding-top: $i + px;
    }

    .pos-#{$i} {
        order: $i;
    }

    @include respond-to(md) {
        .pos-md-#{$i} {
            order: $i;
        }
    }

    @include respond-to(sm) {
        .pos-sm-#{$i} {
            order: $i;
        }
    }

    @include respond-to(xs) {
        .pos-xs-#{$i} {
            order: $i;
        }
    }
}

.ml-a {
    margin-left: auto;
}

.mr-a {
    margin-right: auto;
}

.mx-a {
    margin-right: auto;
    margin-left: auto;
}

.my-a {
    margin-top: auto;
    margin-bottom: auto;
}